#back-button {
  align-self: flex-start;
  margin: 3rem;
}
.delete-page{
  max-width: 1700px;
  width: 100%;
}

.delete-newsletter-container {
  border-radius: 0.5rem;
  padding: 3rem;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

