#back_button{
    margin-top: 3rem;
}

.editor-page{
    max-width: 1700px;
    width: 100%;
}

.edit-newsletter-container{
    border-style: solid;
    padding: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 35px;
}