#editor-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-popup-newsletter-container{
    display: flex;
    justify-content: center;
    max-width: 900px;
    flex-direction: column;

}


