.footer-container{
    height: 7rem;
    margin-top: 3rem;
    width: 100%;   
    background-color: grey;
}

.footer-links{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.footer-links a{
    font-size: 1.5rem;
}