.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    padding: 5rem;
    border-radius: 1rem;
}

.home-commit-container{
    border-style: solid;
    margin: 3rem;
    border-radius: 0.5rem;
}