#newsletter_summary-image{
    max-width: 900px;
    width: 100%;
    max-height: 350px;
}

#summary-title-text {
    overflow-wrap: anywhere;
}

.newsletter-summary-container{
    border-style: solid;
    padding: 2rem;
    border-radius: 3rem;
    max-width: 300px;
    max-height: 500px;
    opacity: 1;
    transition: opacity 0.3s ease;
    background-color: rgb(255, 255, 255);
}

.newsletter-summary-container:hover{
    opacity: 0.5;
}