#option-link{
    border-radius: 0.5rem;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    background-color: rgb(65, 153, 255);
    transition: background-color 0.3s ease;
}

#option-link:hover{
    background-color: rgb(53, 49, 255);

}

